footer{
    background: rgba(0, 28, 39, 0.75);
    display: flex;
    justify-content: center;
}
.footer-text{
    color: white;
    padding-right: 3rem;
}

@media screen and (max-width: 600px){
    footer{
        justify-content: space-around;
    }
    .footer-text{
        padding: 0%;
        font-size: 10px;
    }
    
}